<div class="landing">
    <img class="image-right" src="/landing.png">
    <img class="image-left" src="/name.png">
</div>

<style>
    .login {
        font-size: large;
        position: absolute;
        width: 200px;
        height: 50px;
        background: #000;
        top: 60%;
        left: 25%;
        border-radius: 20px;
        border: none;
        color: #fff;
    }

    .signup {
        font-size: large;
        position: absolute;
        width: 200px;
        height: 50px;
        background: #000;
        top: 60%;
        left: 10%;
        border-radius: 20px;
        border: none;
        color: #fff;
    }

    .landing-p {
        position: absolute;
        font-size: 1.5rem;
        font-weight: 500;
        color: #000000;
        top: 40%;
        left: 10%;
        width: 50%;
        margin-right: 10%;
    }

    .image-left {
        position: absolute;
        top: 50%;
        left: 40%;
        width: 60%;
    }

    .image-right {
        height: 100vh;
        display: flex;
    }

    .landing {
        background-color: #00FFA3;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
</style>