<div class="landing">
    <img class="image-right" src="/landing.png">
    <img class="image-left" src="/name.png">
    <p class="landing-p">Revolutionizing babycare. Educating parents. Your personal babycare health assistant and
        educator.</p>
    <button class="signup">Login</button>
    <button class="login">SignUp</button>
</div>

<style>
    .login {
        font-size: large;
        position: absolute;
        width: 200px;
        height: 50px;
        background: #000;
        top: 60%;
        left: 25%;
        border-radius: 20px;
        border: none;
        color: #fff;
    }

    .signup {
        font-size: large;
        position: absolute;
        width: 200px;
        height: 50px;
        background: #000;
        top: 60%;
        left: 10%;
        border-radius: 20px;
        border: none;
        color: #fff;
    }

    .landing-p {
        position: absolute;
        font-size: 1.5rem;
        font-weight: 500;
        color: #000000;
        top: 40%;
        left: 10%;
        width: 50%;
        margin-right: 10%;
    }

    .image-left {
        position: absolute;
        top: 10%;
        left: 30%;
        width: 70%;
    }

    .image-right {
        height: 125vh;
        display: flex;
    }

    .landing {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
</style>